* {
  margin: 0%;
  padding: 0%;
  font-family:
    Assistant,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #ffffff;
  align-items: center;
}

.myntra_home img {
  width: 45px;
}
.logo_container {
  margin-left: 4%;
}

.nav_bar {
  display: flex;
  min-width: 550px;
  justify-content: space-evenly;
}
.nav_bar a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  color: #282c3f;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  padding: 29px 0;
  border-bottom: 5px solid #ffffff;
}
.nav_bar a:hover {
  border-bottom: 4px solid #ff3f6c;
}
.nav_bar a sup {
  color: #ff3f6c;
  font-size: 10px;
}

.search_input {
  color: #696e79;
  background-color: #f5f5f6;
  display: inline-block;

  font-size: 14px;
  height: 20px;
  line-height: 24px;
  box-sizing: content-box;
  padding: 8px 10px 10px;
  margin: 0;
  outline: 0;
  border: 1px solid #f5f5f6;
  border-radius: 0 4px 4px 0;
  border-left: 0;
  min-width: 250px;
}
.search_bar {
  display: flex;
  align-items: center;
  min-width: 200px;
  width: 30%;
  border: 1px solid #e1dddc;
  border-radius: 0 4px 4px 0;
  border-radius: 4px;
}
.search_icon {
  color: #696e79;
  padding: 10px;
  height: 20px;
  box-sizing: content-box;
  border-radius: 4px 0 0 4px;
}
.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px 0 17px;
  position: relative;
  height: 50px;
}
.action_icon {
  line-height: 12px;
  margin-bottom: 2px;
  margin: 10px 0 0;
  position: absolute;
  bottom: 13px;
  left: 5px;
  display: block;
}
.action_name {
  color: #212020;
  position: absolute;
  bottom: 4px;

  text-align: center;
  font-size: 10px;
  font-weight: 700;

  display: inline-block;
  padding-top: 10px;
  line-height: 6px;
}

.action_bar {
  display: flex;
  justify-content: space-evenly;
  min-width: 200px;
  height: 60px;
  margin-right: 2%;
  padding: 10px;
}

.profile {
  border-bottom: 5px solid #ffffff;
}
.profile:hover {
  border-bottom: 4px solid #ff3f6c;
}

/* main content */

.banner_image {
  width: 100%;
}
.banner_container {
  margin: 40px 0px;
}
.category_heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.4em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 650;
}
.category_items,
.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.sale_item {
  width: 250px;
}
.footer_column {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 155px;
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}
.footer_column a {
  color: #696b79;
  display: block;
  font-size: 12px;
  text-decoration: none;
  padding-bottom: 5px;
  cursor: pointer;
  line-height: normal;
}
.footer_column h3 {
  font-size: 12px;
  margin: 10px 0px;
  color: #242425;
}
.footer_container {
  display: flex;
  justify-content: space-evenly;
}

.copy_contact {
  display: flex;
  flex-direction: row;
  padding: 20px;
  color: #94969f;
  margin-left: 100px;
  justify-content: space-evenly;
}
.contact_us a {
  text-decoration: none;
  color: #242529;
}

.items-container {
  width: 80%;
  margin: 40px 10%;
}
.item-container {
  width: 250px;
  margin: 10px;
}
.item-image {
  width: 100%;
}
.company-name {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-name {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}
.rating {
  font-size: 12px;
  font-weight: 700;
}
.price {
  margin-top: 10px;
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}
.current-price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}
.original-price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}
.btn-add-bag {
  margin-top: 8px;
  width: 100%;
  font-size: 18px;
  background-color: lightgreen;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}
.bag_item_count {
  background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  left: 5px;
  top: 5px;
  font-weight: 700;
  cursor: pointer;
}

.action_container {
  text-decoration: none;
  color: black;
}
a.action_container:link {
  color: black;
}

#bag_name {
  left: 9px;
}
